.container {
    min-width: 300px;
    border:3px solid black;
    border-radius: 10px;
    padding:  30px ;
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.144);
}
.container:hover{
    background-color: rgba(75, 75, 75, 0.404);

}
.container form div {
    padding: 15px;
}

.container form h2 {
    padding-left: 11px;
    padding-bottom: 20px;
}
.container form div label {
    color: rgb(255, 255, 255);
    text-align: center;
    font-weight: 700;
}
.container form div input {
    border: none;
    outline: none;
    height: 20px;
    border-radius: 4px;
    text-align: center;
}
.last {
    display: flex;
}
.last input{
    margin-left:10px ;
    width: 16px;
    height: 16px;
    border: 1px solid black;
    border-radius: 50% ;
}
.con {
    display: flex;
    flex-direction: column;
}

.submit {
    padding: 3px;
    cursor: pointer;
    min-width: 50px;
    margin-left: 35%;
    border: none;
    border-radius: 4px;
}

span {
    background-color: rgba(240, 57, 57, 0.36);
    border-radius: 5px;
    padding: 2px;
    margin-top: 2px;
    font-size: small;
    color: rgb(255, 255, 255);
    text-align: center;
    display: block;
}
