.container {
    border:1px solid black;
    border-radius: 10px;
    padding:  30px ;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(57, 170, 240, 0.171);
}
.container form div {
    padding: 15px;
}

.container form h2 {
    padding-left: 11px;
    padding-bottom: 20px;
}
.login {
    margin-left: 18px;
    margin-right: 90px;
    padding: 3px;
    cursor: pointer;
    min-width: 50px;
}
.submit {
    padding: 3px;
    cursor: pointer;
    min-width: 50px;
}
.login :hover {
    color: red;
}