.container {
    border:1px solid black;
    border-radius: 10px;
    padding:  30px ;
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(57, 170, 240, 0.171);
}
.container form div {
    padding: 15px;
}

.container form h2 {
    padding-left: 11px;
    padding-bottom: 20px;
}
.container form div input {
    border: none;
    outline: none;
    height: 20px;
    border-radius: 4px;
    text-align: center;
}
.last {
    margin: 20px;
    display: flex;
}
.last input{
    margin-left:10px ;
    width: 16px;
    height: 16px;
    border: 1px solid black;
    border-radius: 50% ;
}
.login {
    margin-left: 18px;
    margin-right: 90px;
    padding: 3px;
    cursor: pointer;
    min-width: 50px;
}
.submit {
    padding: 3px;
    cursor: pointer;
    min-width: 50px;
}
.login :hover {
    color: red;
}